.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    max-height: 100vh;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
}
.clipboard-text {
    width: 100%;
    min-height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    word-wrap: break-word;
}
.buttons {
    margin-top: 10px;
}
button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.toggle-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle {
    margin-left: 10px;
}